.DeleteConfirmForm {
    background-color: white;
    padding: 1rem;
    position: relative;
    padding-bottom: 40px;
  }
  .DeleteConfirmForm h3 {
      font-size: 1.5rem;
  }
  .confirmD {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    border: none;   
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: filter 150ms ease-in-out;
    right: 0;
    background-color: #ca3232;
  }
  .confirmD:hover {
    filter: brightness(1.1);
  }

  /**
  .notConfirmD {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    border: none;   
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: filter 150ms ease-in-out;
    right: 0;
    background-color: #ca3232;
  }
  .notConfirmD:hover {
    filter: brightness(1.1);
  }
  **/
  