.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.Header p {
  font-size: 1.1rem;
  font-size: 30px;
  padding-right: 15px;
  font-weight: bold;
}

.Header span {
  display: flex;
  position: relative;
  top: 2px;
}
