.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.Header p {
  font-size: 1.1rem;
  font-size: 30px;
  padding-right: 15px;
  font-weight: bold;
  color: var(--text-color);
}

.Header .header-buttons {
  display: flex;
  align-items: center;
}

.Header span {
  display: flex;
  position: relative;
  top: 2px;
  cursor: pointer;
}

.Header .logout {
  right: -8px;
}

.Header .menu {
  padding-right: 10px;
  padding-bottom: 5px;
}

@media screen and (max-width: 1020px) {
  .Header{ 
    flex-direction: column;
  } 
}

@media screen and (max-width: 480px) {
  .Header{ 
    flex-direction: row;
  } 
}

