.ListForm {
  background-color: white;
  padding: 1rem;
  position: relative;
  padding-bottom: 40px;
}
.ListForm input {
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: none;
  font-size: 1.4rem;
  border-bottom: 1px solid #7f7f7f;
}
.ListForm input:focus {
  outline: none;
}
.ListForm h3 {
    font-size: 1.5rem;
}
.confirm {
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100%;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: filter 150ms ease-in-out;
  right: 0;
  background-color: #595959;
}
.confirm:hover {
  filter: brightness(1.1);
}
.ListForm 
.deleteButton {
  background-color: red;
}
