html,  body {
    background-color: var(--secondary-color);
}

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: var(--primary-color);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-container .user-container {
  position: relative;
}

.login-container .user-container input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  color: var(--text-color-login);
}
.login-container .user-container label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}

.login-container .user-container input:focus ~ label,
.login-container .user-container input:valid ~ label {
  top: -20px;
  left: 0;
  color: var(--text-color-login);
  font-size: 12px;
}

.sign-in {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: var(--text-color-login);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 10px;
  letter-spacing: 4px;
  background: none!important;
  border: none;
  cursor: pointer;
}

.sign-in:hover {
  color: var(--text-color-hover);
}

.sign-up {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: var(--text-color-login);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 10px;
    letter-spacing: 4px;
    background: none!important;
    border: none;
    cursor: pointer;
}

.sign-up:hover {
  color: var(--text-color-hover);
}

.about-us {
  position: absolute;
  display: flex;
  right: 0px;
  padding: 10px 20px;
  font-family: 'Times New Roman', serif;
  color: var(--text-color-login);
  font-size: 12px;
  text-decoration: none;
  text-transform: full-width;
  overflow: hidden;
  transition: .5s;
  margin-top: 10px;
  letter-spacing: 2px;
  background: none!important;
  border: none;
  cursor: pointer;
}
.about-us:hover {
  text-decoration: underline;
}

.login-container .theme {
  padding-top: 20px;
}

.error {
  position: absolute;
  top: 45px;
  font-size: 0.7rem;
  color: var(--text-color-error);
}