.wrapper {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .typing-demo {
    color: var(--text-color-login);
    width: 10ch;
    animation: typing 2s steps(10), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }