.Modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99;
  }
  .Modal .container {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
  }